*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0.5rem;
  text-align: center;
}
.font {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin: 0;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.logo-container {
  align-items: center;
  display: flex;
}
.logo-one {
  height: 4.5vh;
  width: 2vw;
}
.symbol {
  margin-left: 1rem;
  margin: 0;
}
.logo-two {
  height: 8vh;
  margin-left: 1rem;
  width: 8vw;
}
.profile-picture {
  height: 6vh;
  width: 3vw;
}
.profile-picture-one {
  margin-left: 13rem;
}
.gallery-container {
  align-items: stretch;
  display: grid;
  gap: 2px;
  grid-template: repeat(3, 150px) / repeat(3, 145px);
  justify-content: center;
  margin-bottom: 0.5rem;
  margin: 0;
}
.gallery-container img {
  object-fit: cover;
  width: 100%;
}
.button {
  background-color: rgb(80, 150, 230);
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 15px;
}
.section-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.section-text-container {
  width: 30vw;
}
.discover {
  margin-top: 2rem;
}
.like-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 33vh;
}
.like-image {
  height: 8vh;
  margin-top: 1rem;
  width: 4vw;
}
.profile-picture-two {
  margin-top: 1rem;
}
.notification {
  color: rgb(150, 150, 150);
}
.footer-logo {
  height: 2vh;
  width: 15vw;
}
.footer-copyright {
  color: rgb(175, 175, 175);
  font-family: Arial;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  .logo-one {
    height: 4.5vh;
    margin-left: 1rem;
    width: 10vw;
  }
  .symbol {
    margin-left: 0.5rem;
    margin: 0;
  }
  .logo-two {
    height: 8vh;
    margin-left: 0.5rem;
    width: 28vw;
  }
  .profile-picture {
    height: 5vh;
    width: 10vw;
  }
  .profile-picture-one {
    margin-left: 8rem;
  }
  .header-container {
    margin-bottom: 0.5rem;
  }
  .gallery-container {
    grid-template: repeat(3, 120px) / repeat(3, 115px);
    margin-bottom: 0.5rem;
    margin: 0;
  }
  .section-text-container {
    width: 80vw;
  }
  .like-profile {
    height: 28vh;
  }
  .like-image {
    height: 7vh;
    width: 15vw;
  }
  .footer-logo {
    height: 1.5vh;
    width: 47vw;
  }
}
